.bk{
	box-sizing: border-box;
	margin: 15px auto;
	padding: 35px 55px;
	color: #5f5f5f;
	background-color:  #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	text-align: left;
	min-height: 600px;
}
#ShowInf>div{
	margin: 20px auto;
}
.lab{
	display: inline;
}
.lab>span,.Rsex,.Rsex>div{
	display: inline-block !important;
}
.lab>input{
	width: 280px !important;
}
.btn-close{
	background-color: #f3f3f305;
    color: #4c565e85;
}

#AddInf>form,
#FindInf>form,
#DeleteInf>form,
#ChangeInf>form,
#change-form,
.iName,
iframe{
	display: none;
}